html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fff;
  .background-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Asegura que cubra toda la pantalla y crezca con el contenido */
    z-index: -10;
    background-color: white;
    background: radial-gradient(125% 70% at 50% 10%, #fff 40%, rgb(156, 129, 231) 100%);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.fredoka-uniquifier {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.all {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  grid-template-rows: 1fr;
  justify-content: space-evenly;
}

h1 {
  font-family: Agbalumo, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10vh;
  color: #496b35;
}

.all h2 {
  font-family: Fredoka, sans-serif;
  font-size: 20px;
  color: #5e6a41;
  margin-bottom: 5vh;
  text-align: center;
}

article label,
article input,
article select {
  font-family: Fredoka;
  padding: 9px;
  margin-bottom: 30px; /* Añade el margen inferior deseado entre los elementos */
}

article button {
  font-family: Fredoka;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* button */

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #2d6a4f;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(172, 254, 169) 10.8%,
    rgb(6, 143, 29) 94.3%
  );
  transition: all 0.475s;
}
